@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import 'bootstrap-icons';
@import 'swiper/css';

@layer components {
  .h1 {
    @apply text-h2 font-bold;
  }

  .h2 {
    @apply text-h2 font-bold;
  }

  .h3 {
    @apply text-h3 font-bold;
  }

  .app-container {
    @apply block bg-dark text-white min-h-screen cursor-default;
  }

  .btn {
    @apply inline-block px-lg py-md text-center;
  }

  .btn-animated {
    @apply transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95;
  }

  .btn:disabled,
  .btn-disabled {
    @apply opacity-50;
  }

  .btn-primary {
    @apply bg-lightBlue text-white;
  }

  .btn-dark {
    @apply bg-dark text-white;
  }

  .btn-outline-primary {
    @apply border border-lightBlue text-lightBlue;
  }

  .code-hero-bg {
    @apply absolute inset-0 size-full overflow-hidden;
    background-color: #0d1117;
  }

  .code-hero-bg img {
    @apply absolute top-1/2 -translate-y-1/2 inset-x-0 m-auto opacity-10;
  }

  .nav-link {
    @apply inline-block align-middle relative overflow-hidden active:opacity-55 transition-opacity after:absolute after:inset-x-0 after:bottom-0 after:bg-white after:h-px after:-translate-x-full after:transition-transform hover:after:translate-x-0;
  }

  .pong-game-container {
    --gap-header-heigth: 0px;
    @apply w-full;
    height: calc(100vh - var(--gap-header-heigth));
  }

  .pong-game-container pong-game {
    @apply block size-full;
  }

  .pong-game-form {
    @apply flex gap-base flex-wrap;
  }

  .pong-game-form label {
    @apply inline-flex gap-md items-center;
  }

  .pong-game-form input:checked {
    @apply accent-lightBlue;
  }

  .proj-card-links-left {
    @apply flex flex-row flex-wrap gap-base items-center flex-1;
  }

  .proj-card-links-right {
    @apply flex flex-row flex-wrap gap-base items-center ml-auto;
  }

  .ws-header {
    @apply w-full h-auto sticky top-0 block overflow-visible z-40 border-b border-dark;
    transition: top .5s;
  }
  
  .ws-header::after {
    @apply absolute inset-0 size-full;
    backdrop-filter: blur(5px);
    background-color: rgba(18, 18, 18, 0.8);
    content: "";
    z-index: -1;
  }

  .video-controls {
    @apply px-md py-sm m-base bg-dark/50 flex gap-md rounded-sm;
  }
}

body {
  margin: 0;
  font-family: "Roboto Flex" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body:has(dialog:open) {
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}